.card {
	padding: 10px;
}

table.keystats, table.keystats tbody {
    width: 100%;
    height: 50px;
    display: block;
    margin: auto;
}

.visibility td, .domain_score td, .traffic td, .historic_traffic td, .glossary td, .look_forward td, .social_media td, .site td {
    padding-left: 60px;
}


.domain_stats_data td img {
    width:  25px;
    display:  inline-block;
}

.keystats tr {
    width:  100%;
    display: block;
    padding-bottom: 20px;
}

.keystats tr td {
    width: 19%;
    display: inline-block;
    text-align: center;
}

.keystats tr td p {
    text-align:  center;
    display: inline-block;
}

.key_stats_holder {
    min-height: 100px;
}

.key_stats_holder .loading {
    top: 45px;
}

body hr {
    border-top: 3px solid #beb5a8;
}
@media print {
    tr.vendorListHeading {
        background-color: #1a4567 !important;
        -webkit-print-color-adjust: exact;
    }
}

@media print {
    .vendorListHeading th {
        color: white !important;
    }
}
h2.section_title {
    color: #242424 !important;
    margin-top: 40px;
    background: #ffc20e;
    -webkit-print-color-adjust: exact;
    padding: 10px;
    padding-left: 60px;
    font-size: 24px;
    font-family: arial;
    font-style: italic;
}

.description {
    padding: 0  10px;
}

table.padded, table.smaller{
    width:  100%;
}

table.padded tr, table.smaller tr, table.coloured tr {
    border-bottom: 1px solid #e0dcd7;
}

table.padded tr:nth-child(1), table.smaller tr:nth-child(1), table.coloured tr:nth-child(1) {
    border-top: 1px solid #e0dcd7;
}

table.padded td {
    padding: 10px 10px;
}

table.smaller td {
    padding:  0 10px;
}

table.coloured {
    width:  100%;
}

table.coloured tr {
    height:  40px;
}

table.coloured tr {
    text-align: center;
}

table.coloured tr td {
    width:  20%;
}

table.coloured tr.answers td.true {
    background: green;
}

table.coloured tr.answers td.false {
    background: red;
}

tr.odd {}

tr.even {
    background: #FFF7DE;
}

.float-right.time {
    text-align:  right;
    display: none;
}

.pagebreak {
    break-before: page;
}