.active {
    background-color: grey; }

.post {
    height: 100%; }

.left-box {
    height: 100%; }

.glyphicon-facebook:before {
    content: ' ';
    background-image: url("../FB.png");
    width: 15px;
    height: 15px;
    display: block;
    background-size: 15px;
    margin-right: 5px; }

.glyphicon-twitter:before {
    content: ' ';
    background-image: url("../Twitter.png");
    width: 15px;
    height: 15px;
    display: block;
    background-size: 15px;
    margin-right: 5px; }

.glyphicon-linkedin:before {
    content: ' ';
    background-image: url("../linkedin.png");
    width: 15px;
    height: 15px;
    display: block;
    background-size: 15px;
    margin-right: 5px; }

img.post-image {
    height: auto;
    width: 100px;
    float: right; }

.tab {
    text-align: center;
    cursor: pointer;
    border-radius: 0 50px 0 0;
    background: grey;
    margin-right: 15px;
    width: calc(33% - 8px); }

.tab.active {
    background-color: white; }

.accounts form {
    display: inline-block;
    width: 49%;
    text-align: center; }

.profile-image {
    width: 24px; }

.edit .post-image {
    float: none; }

.logo {
    height: 50px; }

.posts {
    background-color: #ddd; }
.posts .panel-body .col-md-12 {
    padding-bottom: 10px;
    background-color: white; }

.tabs {
    margin-top: 10px; }
.tabs #three {
    margin: 0; }

/* Dropdown menus */
.navbar-nav li:hover ul {
    display: block; }

.navbar-nav li ul {
    display: none;
    position: absolute;
    padding: 20px;
    text-align: center;
    background: #ddd;
    list-style: none; }
.navbar-nav li ul li a {
    color: #777; }

.type {
    width:  40%;
    display:  inline-block;
    vertical-align:  top;
}

.delete {
    display: inline-block;
    float: right;
}
.name {
    display: inline-block;
}

.account {
    height:  auto;
    min-height:  70px;
}

.type:nth-child(even) {
    padding-left: 5%;
}

.type:nth-child(odd) {
    padding-right: 5%;
}

p.name {
    padding-top:  10px;
}

.navbar-default {

    background-color: #33414b;
    border-color: #33414b;

}

body {

    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #eaeaea;

}

.panel-default > .panel-heading {

    color: #fff;
    background-color: #33414bcc;
    border-color: #ddd;

}

.account {
    height: auto;
    min-height: 110px;
    border-bottom: 1px solid #dbdbdb;
}

.account .acount_inner h3 {
    display: inline-block;
}

.account .acount_inner .buttons.right {
    width: 50px;
    position: relative;
    right: 50px;
    padding-top: 20px;
}

.right {
    float: right;
}

.button {
    width: 90%;
    height: 100px;
    border: 1px solid black;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: center;
    padding:  20px;
    display: table;
    background-color: #33414b;
}

.button p {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    width:  100%;
    height:  100%;
    color: white;
}

.button a {
    color: white;
}

.button a:hover {
    color: white;
    text-decoration: none;
}


/* Buttons */
#toggles{
    width:60px;
    margin:50px auto;
    text-align:center;
}
.ios-toggle,.ios-toggle:active{
    position:absolute;
    top:-5000px;
    height:0;
    width:0;
    opacity:0;
    border:none;
    outline:none;
}
.checkbox-label{
    display:block;
    position:relative;
    padding:10px;
    margin-bottom:20px;
    font-size:12px;
    line-height:16px;
    width:100%;
    height:36px;
    /*border-radius*/
    -webkit-border-radius:18px;
    -moz-border-radius:18px;
    border-radius:18px;
    background:#f8f8f8;
    cursor:pointer;
}
.checkbox-label:before{
    content:'';
    display:block;
    position:absolute;
    z-index:1;
    line-height:34px;
    text-indent:40px;
    height:36px;
    width:36px;
    /*border-radius*/
    -webkit-border-radius:100%;
    -moz-border-radius:100%;
    border-radius:100%;
    top:0px;
    left:0px;
    right:auto;
    background:white;
    /*box-shadow*/
    -webkit-box-shadow:0 3px 3px rgba(0,0,0,.2),0 0 0 2px #dddddd;
    -moz-box-shadow:0 3px 3px rgba(0,0,0,.2),0 0 0 2px #dddddd;
    box-shadow:0 3px 3px rgba(0,0,0,.2),0 0 0 2px #dddddd;
}
.checkbox-label:after{
    content:attr(data-off);
    display:block;
    position:absolute;
    z-index:0;
    top:0;
    left:-300px;
    padding:10px;
    height:100%;
    width:300px;
    text-align:right;
    color:#bfbfbf;
    white-space:nowrap;
}
.ios-toggle:checked + .checkbox-label{
    /*box-shadow*/
    -webkit-box-shadow:inset 0 0 0 20px rgba(19,191,17,1),0 0 0 2px rgba(19,191,17,1);
    -moz-box-shadow:inset 0 0 0 20px rgba(19,191,17,1),0 0 0 2px rgba(19,191,17,1);
    box-shadow:inset 0 0 0 20px rgba(19,191,17,1),0 0 0 2px rgba(19,191,17,1);
}
.ios-toggle:checked + .checkbox-label:before{
    left:calc(100% - 36px);
    /*box-shadow*/
    -webkit-box-shadow:0 0 0 2px transparent,0 3px 3px rgba(0,0,0,.3);
    -moz-box-shadow:0 0 0 2px transparent,0 3px 3px rgba(0,0,0,.3);
    box-shadow:0 0 0 2px transparent,0 3px 3px rgba(0,0,0,.3);
}
.ios-toggle:checked + .checkbox-label:after{
    content:attr(data-on);
    left:60px;
    width:36px;
}
/* GREEN CHECKBOX */

.buttons checkbox + .checkbox-label{
    /*box-shadow*/
    -webkit-box-shadow:inset 0 0 0 0px rgba(19,191,17,1),0 0 0 2px #dddddd;
    -moz-box-shadow:inset 0 0 0 0px rgba(19,191,17,1),0 0 0 2px #dddddd;
    box-shadow:inset 0 0 0 0px rgba(19,191,17,1),0 0 0 2px #dddddd;
}
.buttons checkbox:checked + .checkbox-label{
    /*box-shadow*/
    -webkit-box-shadow:inset 0 0 0 18px rgba(19,191,17,1),0 0 0 2px rgba(19,191,17,1);
    -moz-box-shadow:inset 0 0 0 18px rgba(19,191,17,1),0 0 0 2px rgba(19,191,17,1);
    box-shadow:inset 0 0 0 18px rgba(19,191,17,1),0 0 0 2px rgba(19,191,17,1);
}
.buttons checkbox:checked + .checkbox-label:after{
    color:rgba(19,191,17,1);
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

.acount_inner .tooltip.top {
    width: 200px;
    height: 0;
    top: -100px !important;
}